In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
dataset = pd.read_csv("50_Startups.csv")

In [18]:
print(dataset.head(3))

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [11]:
len(dataset)

50

In [226]:
X = dataset.iloc[:,:-1]

In [227]:
y = dataset.iloc[:,4]

In [228]:
X.head(1)

   R&D Spend  Administration  Marketing Spend     State
0   165349.2        136897.8         471784.1  New York

In [248]:
y.head(1)

0    192261.83
Name: Profit, dtype: float64

# Convert Column states to categorical columns

In [230]:
#converting states names into dummy varibles and droping the first columen (n-1)
states=pd.get_dummies(X['State'],drop_first=True)

In [231]:
#Converting into dummy variables except for the 
states.head(4)

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1

In [232]:
#Drop the State column from X 
X=X.drop('State',axis=1)

In [233]:
X.head(3)

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54

In [234]:
#Add the dummpy variables column to X for the state
X = pd.concat([X,states],axis=1)

In [235]:
X.head(2)

   R&D Spend  Administration  Marketing Spend  Florida  New York
0   165349.2       136897.80        471784.10        0         1
1   162597.7       151377.59        443898.53        0         0

# Spliting into Train set and Test Set

In [236]:
from sklearn.model_selection import train_test_split

In [237]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 0)

In [238]:
X_train.head(3)

    R&D Spend  Administration  Marketing Spend  Florida  New York
33   55493.95       103057.49        214634.81        1         0
35   46014.02        85047.44        205517.64        0         1
26   75328.87       144135.98        134050.07        1         0

In [249]:
y_train

33     96778.92
35     96479.51
26    105733.54
34     96712.80
18    124266.90
7     155752.60
14    132602.65
45     64926.08
48     35673.41
29    101004.64
15    129917.04
30     99937.59
32     97427.84
16    126992.93
42     71498.49
20    118474.03
43     69758.98
8     152211.77
13    134307.35
25    107404.34
5     156991.12
17    125370.37
40     78239.91
49     14681.40
1     191792.06
12    141585.52
37     89949.14
24    108552.04
6     156122.51
23    108733.99
36     90708.19
21    111313.02
19    122776.86
9     149759.96
39     81005.76
46     49490.75
3     182901.99
0     192261.83
47     42559.73
44     65200.33
Name: Profit, dtype: float64

In [239]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

# Fitting Multiple Linear Regresson to the Training set

In [241]:
regressor.fit(X_train, y_train)

LinearRegression()

In [244]:
# Save Model using pickle
import pickle
filename = 'startup.csv'
pickle.dump(regressor,open(filename,'wb'))
#load model
regressor = pickle.load(open(filename,'rb'))

In [245]:
y_pred = regressor.predict(X_test)

In [264]:
y_pred[:3]

array([103015.20159796, 132582.27760816, 132447.73845174])

In [265]:
# predict error 
# Mean absolute percentage error
y_true,y_pred = np.array(y_test),np.array(y_pred)
print(np.mean(np.abs(y_true - y_pred)/y_true)*100)

6.449754085355506

# Error is 6.5

In [266]:
regressor.coef_

array([ 7.73467193e-01,  3.28845975e-02,  3.66100259e-02, -9.59284160e+02,
        6.99369053e+02])

In [267]:
regressor.intercept_

42554.16761773238

In [268]:
# The five coefficients above for below five title in data frame
X.head(1)

   R&D Spend  Administration  Marketing Spend  Florida  New York
0   165349.2        136897.8         471784.1        0         1

# Define Multiple Regression Model

# 42554.16761773238 + 0.773*RD_spend + 0.0033*Administration + 0.0037*MarketSpend - 959.3*Florida + 699.4*Newyork

In [270]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [271]:
score

0.9347068473282423

# R-Square is 0.94

In [272]:
# Test the first column of the table
42554.16761773238 + 0.773*165349.2 + 0.0033*136897.8 + 0.0037*471784.1 + 699.4

173265.8631277324

In [274]:
(192261.83-173265.8631277324)*100/192261.83

9.880259057280169

# 9.9 Error in real data